nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .MuiButton-contained{
        background-color:#fff;
    }
}
.filters{
    display: flex;
    justify-content: center;
}
.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}